.animal-box {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background: #4370b7;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

/*
.workflo-container {
    width: 600px;
    zoom: 0.75;
    -moz-transform: scale(0.75);
}
*/