.workflo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    border: 1px solid #bfbfbf;
}

.root-node-container {
    display: flex;
    align-items: center;
    flex-direction: row; /* correlates with option.layout.rootNodeOrientation horizontal=row vertical=column */
}

.node-container {
    display: flex;
    align-items: stretch;
}

.parent-container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
}

.template-wrapper {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.connector-svg-wrapper {
    position: relative;
    width: 50px; /* correlates with option.layout.node-gap. Default 50px; */
}

.connector-svg {
    position: absolute;
    height: 100%;
    width: 100%;
}